
.fa-window-close {
  font-size: 30px;
  color: red;
}

.fa-window-close:hover {
  font-size: 31px;
  color: red;
  opacity: 0.8;
}


.fa-check-square {
  font-size: 30px;
  color: green;
}

.fa-check-square:hover {
font-size: 31px;
color: green;
opacity: 0.8;
}

.status {
  font-size: 12px;
}

#pills {
  font-size: 20px;
}
