
.fa-window-close {
  font-size: 30px;
  color: red;
}

.fa-window-close:hover {
  font-size: 35px;
  color: red;
}


.fa-check-square {
  font-size: 30px;
  color: green;
}

.fa-check-square:hover {
font-size: 35px;
color: green;
}

.status {
  font-size: 12px;
}

#pills {
  font-size: 20px;
}
